header, footer, nav, section {
    display: block;
}

/* Frame
------------------------------------------------ */
header, footer {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 40px; /* Change margin-top on section#body to match */
    background: #ccc;
}
header {
    top: 0;
    border-bottom: 1px solid #000; /* Change margin-top on section#body to match */
}
footer {
    bottom: 0;
    border-top: 1px solid #000;
}
section#body {
    position: relative;
    z-index: 1;
    margin-top: 41px; /* Must match the height of header plus any top and bottom borders */
    width: 100%;
    background: #47b8ff;
}
nav {
    position: relative;
    top: 0;
    float: left;
    width: 200px;
    max-width: 800px;
    overflow: auto;
    resize: horizontal;
    background: #82c33c;
    border-right: 1px solid #000;
}
section#main {
    padding: 20px;
    overflow: auto;
    background: #ceecff;
}