header, footer, nav, section {
    display: block;
}

/* Frame
------------------------------------------------ */
header, footer {
    height: 40px;
    background: #ccc;
}
header {
    border-bottom: 1px solid #000;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #000;
}
/*nav, section#body {
    height: 300px;
}*/
nav {
    float: left;
    margin-right: 20px; /* Must be the same as #content padding */
    width: 200px;
    max-width: 800px;
    overflow: auto;
    resize: horizontal;
    background: #82c33c;
    border-right: 1px solid #000;
}
section#body {
    width: 100%;
    background: #47b8ff;
}
section#main {
    padding: 20px; /* Must be the same as #nav margin-right */
    background: #ceecff;
}