<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
  <title>Template</title>
  <link type="text/css" rel="stylesheet" href="dialog-box.css" />
  <link type="text/css" rel="stylesheet" href="../assets/css/template-docs.css" />
  <script src="../assets/js/jquery-1.3.2.min.js"></script>
  <script src="../assets/js/templates.js"></script>
  <script>
    function test() {
      $('#test').loadTemplate('dialog-box', {title: 'Hi', description: 'This is a dialog box'}, function(self) {
        $(self).findTemplateField('buttons').find('button').click(function() {
          alert('Ok clicked!');
        });
        $(self).findTemplateField('buttons').find('a').click(function() {
          alert('Cancel clicked!'); 
        });
      });
    }

    $(function() {
      $('pre').text("    " + test);
    });
  </script>
</head>
<body>
  <div id="template-container">
    <div class="dialog-box shadow">
      <h1 class="field-title">Default title</h1>
      <p class="field-description">Default dialog box description</p>
      <ul class="field-buttons">
        <li><button>Ok</button></li>
        <li><a href="#">Cancel</a></li>
      </ul>
    </div>
  </div>
  <div id="documentation">
    <h1>dialog-box</h1>

    <dl>
      <dt>title</dt>
      <dd>Title of the dialog box</dd>
      <dt>description</dt>
      <dd>Main description of the dialog box</dd>
      <dt>buttons</dt>
      <dd>Unordered list of buttons, links, etc</dd>
    </dl>

    <h2>Try it</h2>
    <pre></pre>
    <div id="test" class="test"></div>
    <button onclick="test(); return false;">Go</button>
  </div>
</body>
</html>
